UnityPlayer.dll filter=lfs diff=lfs merge=lfs -text
UnityPlayer_UAP_x86_Debug_dotnet.pdb filter=lfs diff=lfs merge=lfs -text
sharedassets2.assets.resS filter=lfs diff=lfs merge=lfs -text
volume.asset filter=lfs diff=lfs merge=lfs -text
Astronaut.FBX filter=lfs diff=lfs merge=lfs -text
